<header class="usa-header usa-header--basic" role="banner" style="background-color: var(--dk-gov-blue-color)">
    <div class="usa-navbar">
        <!-- FHWA Logo -->
        <div class="usa-logo">
            <em class="usa-logo__text">
                <a href="/" title="FHWA" rel="fhwa">
                    <img src="images/fhwa/FHWA_logo@2x.svg"
                         alt="FHWA"
                         class="img-fluid d-inline-block align-top" />
                </a>
            </em>
        </div>

        <!-- Primary Navigation -->
        <nav aria-label="Primary navigation" class="usa-nav" role="navigation">
            <ul class="usa-nav__primary usa-accordion">

                <!-- About FHWA -->
                <li class="usa-nav__primary-item">
                    <button class="usa-accordion__button usa-nav__link" aria-expanded="false" aria-controls="submenu-about">
                        <span>About FHWA</span>
                    </button>
                    <ul class="usa-nav__submenu" id="submenu-about" hidden>
                        <li><a href="https://www.fhwa.dot.gov/about/org/">FHWA Organization</a></li>
                        <li><a href="https://www.fhwa.dot.gov/about/hq/">Headquarters Offices</a></li>
                        <li><a href="https://www.fhwa.dot.gov/about/field.cfm">Field Offices</a></li>
                        <li><a href="https://www.fhwa.dot.gov/careers/">Careers</a></li>
                        <li><a href="https://www.fhwa.dot.gov/policy/fhplan.cfm">Strategic Plan</a></li>
                        <li><a href="https://www.fhwa.dot.gov/about/business.cfm">Business Opportunities</a></li>
                        <li><a href="https://www.fhwa.dot.gov/about/staff.cfm">Staff Directories</a></li>
                        <li><a href="https://www.fhwa.dot.gov/infrastructure/history.cfm">Highway History</a></li>
                        <li><a href="https://www.fhwa.dot.gov/contact/">Contact Us</a></li>
                    </ul>
                </li>

                <!-- Programs -->
                <li class="usa-nav__primary-item">
                    <button class="usa-accordion__button usa-nav__link" aria-expanded="false" aria-controls="submenu-programs">
                        <span>Programs</span>
                    </button>
                    <ul class="usa-nav__submenu" id="submenu-programs" hidden>
                        <li><a href="https://www.fhwa.dot.gov/cfo/doing_business_with_fhwa.cfm">Acquisition Management</a></li>
                        <li><a href="https://www.fhwa.dot.gov/civilrights/">Civil Rights</a></li>
                        <li><a href="https://flh.fhwa.dot.gov/">Federal Lands</a></li>
                        <li><a href="https://www.fhwa.dot.gov/infrastructure/">Infrastructure</a></li>
                        <li><a href="https://www.fhwa.dot.gov/innovativeprograms/">Innovative Program Delivery</a></li>
                        <li><a href="https://ops.fhwa.dot.gov/">Operations</a></li>
                        <li><a href="https://www.fhwa.dot.gov/hep/">Planning, Environment, and Realty</a></li>
                        <li><a href="https://www.fhwa.dot.gov/policy/">Policy</a></li>
                        <li><a href="https://highways.dot.gov/research">Research, Development, and Technology</a></li>
                        <li><a href="https://safety.fhwa.dot.gov/">Safety</a></li>
                        <li><a href="https://www.fhwa.dot.gov/resources/topics/">Browse by Topics</a></li>
                    </ul>
                </li>

                <!-- Resources -->
                <li class="usa-nav__primary-item">
                    <button class="usa-accordion__button usa-nav__link" aria-expanded="false" aria-controls="submenu-resources">
                        <span>Resources</span>
                    </button>
                    <ul class="usa-nav__submenu" id="submenu-resources" hidden>
                        <li><a href="https://www.fhwa.dot.gov/resources/topics/">Core Highway Topics</a></li>
                        <li><a href="https://www.fhwa.dot.gov/federal-aidessentials/">Federal Aid Essentials</a></li>
                        <li><a href="https://highways.dot.gov/automation">Automation</a></li>
                        <li><a href="https://www.fhwa.dot.gov/resources/legsregs/">Laws and Regulations</a></li>
                        <li><a href="https://www.fhwa.dot.gov/resources/pubstats/">Publications and Statistics</a></li>
                        <li><a href="https://www.fhwa.dot.gov/pgc/">Policy and Guidance Center</a></li>
                        <li><a href="https://www.fhwa.dot.gov/508/">Section 508</a></li>
                        <li><a href="https://www.fhwa.dot.gov/resources/training.cfm">Professional Development</a></li>
                        <li><a href="https://www.nhi.fhwa.dot.gov/">National Highway Institute</a></li>
                        <li><a href="https://www.fhwa.dot.gov/resourcecenter/">Resource Center</a></li>
                        <li><a href="https://www.fhwa.dot.gov/accessibility/">Accessibility Resource Library</a></li>
                        <li><a href="https://highways.dot.gov/research/resources/research-library/federal-highway-administration-research-library">FHWA Research Library</a></li>
                    </ul>
                </li>

                <!-- Newsroom -->
                <li class="usa-nav__primary-item">
                    <button class="usa-accordion__button usa-nav__link" aria-expanded="false" aria-controls="submenu-newsroom">
                        <span>Newsroom</span>
                    </button>
                    <ul class="usa-nav__submenu" id="submenu-newsroom" hidden>
                        <li><a href="https://highways.dot.gov/newsroom/press-releases">Press Releases</a></li>
                        <li><a href="https://highways.dot.gov/newsroom/speeches">Speeches and Testimony</a></li>
                        <li><a href="http://www.flickr.com/photos/fhwa/">Photos</a></li>
                        <li><a href="https://www.youtube.com/user/USDOTFHWA/featured">Videos</a></li>
                        <li><a href="https://highways.dot.gov/newsroom/media-contacts">Media Contacts</a></li>
                    </ul>
                </li>

            </ul>
        </nav>
    </div>
</header>



@* <header class="usa-header usa-header--basic" role="banner" style="background-color: var(--dk-gov-blue-color)">
    <div>
        <div class="usa-navbar">
            <!-- FHWA Logo -->
            <div class="usa-logo">
                <em class="usa-logo__text">
                    <a href="/" title="FHWA" rel="fhwa">
                        <img src="@Assets["images/fhwa/FHWA_logo@2x.svg"]"
                             alt="FHWA"
                             class="img-fluid d-inline-block align-top" />
                    </a>
                </em>
            </div>

        
        </div>

        <!-- Main Nav (USWDS relies on these classes, aria attributes, and hidden attribute) -->
        <nav aria-label="Primary navigation" class="usa-nav" role="navigation">
            <ul class="usa-nav__primary usa-accordion">
                @foreach (var item in dotNav)
                {
                    <!-- If this item has a submenu -->
                    @if (item.Submenu != null && item.Submenu.Count > 0)
                    {
                        <li class="usa-nav__primary-item">
                            <!-- USWDS toggles aria-expanded and hidden for you -->
                            <button class="usa-accordion__button usa-nav__link"
                                    aria-expanded="false"
                                    aria-controls="submenu-@item.Id">
                                <span>@item.Title</span>
                            </button>
                            <ul class="usa-nav__submenu" id="submenu-@item.Id" hidden>
                                @foreach (var sub in item.Submenu)
                                {
                                    <li class="usa-nav__submenu-item">
                                        <a href="@sub.Url">@sub.Title</a>
                                    </li>
                                }
                            </ul>
                        </li>
                    }
                    else
                    {
                        <!-- If no submenu, just show a link -->
                        <li class="usa-nav__primary-item">
                            <a class="usa-nav__link" href="#">
                                @item.Title
                            </a>
                        </li>
                    }
                }
            </ul>
        </nav>
        
    </div>
</header>
 *@

